<extend name="Base/base"/>
<block name="link">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/shop/shop.css"/>
</block>
<block name="body">

    <!--我的订单-->
    <div class="shop-order">
        <div class="order-list">
            <notempty name="orderList">
                <volist name="orderList" id="vo">
                    <div class="container detail" goods-id="{$vo.goods_group_id}" shop-id="{$vo.shop.shop_id}">
                        <div class="row shop">
                            <div class="gray-block"></div>
                            <div class="col-xs-3 shop-image">
                                <img src="{$vo.shop.shop_img}"/>
                            </div>
                            <div class="col-xs-5 shop-name-box text-ellipsis">
                                <span class="name text-ellipsis">{$vo.shop.name}</span>
                            </div>
                            <div class="col-xs-4 order-status text-right text-ellipsis">
                                <if condition="$vo['status'] eq 0">
                                    买家已下单
                                    <elseif condition="$vo['status'] eq 1"/>
                                    商家已接单
                                    <elseif condition="$vo['status'] eq 2"/>
                                    骑手配送中
                                    <elseif condition="$vo['status'] eq 3"/>
                                    订单已完成
                                    <elseif condition="$vo['status'] eq 4"/>
                                    订单已评价
                                    <elseif condition="$vo['status'] eq -1"/>
                                    订单已取消
                                </if>
                            </div>
                        </div>
                        <volist name="vo.goods" id="v">
                            <div class="row goods">
                                <div class="col-xs-7 col-xs-offset-3 text-ellipsis name">{$v.name}</div>
                                <div class="col-xs-2 text-right text-ellipsis number">x{$v.count}</div>
                            </div>
                        </volist>

                        <div class="row money">
                            <div class="col-xs-12 text-right">
                                共2件商品,实付<span class="number">￥{$vo.money}</span>
                            </div>
                        </div>
                        <div class="row footer">
                            <div class="col-xs-12">
                                <if condition="$vo['status'] eq 0">
                                    <a class="tell" href="tel://{$vo.shop.shop_tell}">
                                        <button class="btn btn-default">联系商家</button>
                                    </a>
                                    <button type="button" class="btn btn-default cancel-order"
                                            group-id="{$vo.goods_group_id}">取消订单
                                    </button>
                                    <elseif condition="$vo['status'] eq -1"/>
                                    <button type="button" class="btn btn-default delete-order"
                                            group-id="{$vo.goods_group_id}">删除订单
                                    </button>
                                    <else/>
                                    <a class="tell" href="tel://{$vo.shop.shop_tell}">
                                        <button class="btn btn-default">联系商家</button>
                                    </a>
                                    <a class="tell" href="__CONTROLLER__/detail/shop_id/{$vo.shop.shop_id}.html">
                                        <button type="button" class="btn btn-warning">再来一单</button>
                                    </a>
                                </if>
                            </div>
                        </div>
                    </div>
                </volist>
                <else/>
                <div class="container">
                    <div class="alert alert-warning alert-dismissible text-center" style="margin-top: 10px"
                         role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <strong class="text-center">今天没有订单哦！</strong></div>
                </div>
            </notempty>
        </div>
    </div>

    <!--底部导航-->
    <div class="shop-footer">
        <div class="container">
            <div class="row">
                <a href="{:U('index')}">
                    <div class="col-xs-4 text-center">
                        <img class="img-circle center-block"
                             src="__PUBLIC__/Home/images/shop_icon/shop_index.png"/>
                        <span class="text-ellipsis footer-name">主页</span>
                    </div>
                </a>
                <a href="{:U('order')}">
                    <div class="col-xs-4 text-center">
                        <img class="img-circle center-block" src="__PUBLIC__/Home/images/shop_icon/shop_order_fill.png"/>
                        <span class="text-ellipsis footer-name selected">订单</span>
                    </div>
                </a>
                <a href="{:U('mine')}">
                    <div class="col-xs-4 text-center">
                        <img class="img-circle center-block" src="__PUBLIC__/Home/images/shop_icon/shop_mine.png"/>
                        <span class="text-ellipsis footer-name">我的</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript" src="__PUBLIC__/Home/js/shop/shop.order.js"></script>
</block>