<extend name="Base/base"/>
<block name="link">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/admin/insert.css"/>
</block>
<block name="body">
    <!--店铺列表-->
    <div class="container insert-list">
        <form method="post" class="form-horizontal">
            <input type="hidden" name="shop_id" value="{$shopInfo.shop_id}">
            <div class="form-group">

                <label for="" class="col-xs-5 control-label">店铺名:</label>
                <div class="col-xs-10">
                    <input type="text" name="name" value="{$shopInfo.name}" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-xs-5 control-label">地址:</label>
                <div class="col-xs-10">
                    <input type="text" name="address" value="{$shopInfo.address}" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-xs-5 control-label">店铺公告:</label>
                <div class="col-xs-10">
                    <textarea rows="8" cols="50" class="form-control" name="notice">{$shopInfo.notice}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-xs-5 control-label">电话号码:</label>
                <div class="col-xs-10">
                    <input type="text" name="shop_tell" value="{$shopInfo.shop_tell}" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-xs-5 control-label">特色店:</label>
                <div class="col-xs-12">
                    <volist name="getFeatures" id="vo">
                        <input type="checkbox" value="{$vo.feature_no}" name="feature_no[]"<if condition="$vo['feature_no'] eq $feature_no">checked="checked"</if> >{$vo.feature_name}&nbsp;&nbsp;&nbsp;&nbsp;
                    </volist>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-xs-5 control-label">营业状态:</label>
                <div class="col-xs-12">
                    <input type="radio" value="1"  <if condition="$shopInfo['status'] eq 1">checked="checked"</if> name="status">营业中&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" value="0" <if condition="$shopInfo['status'] eq 0">checked="checked"</if> name="status">休息中&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" value="-1" <if condition="$shopInfo['status'] eq -1">checked="checked"</if> name="status">装修中
                </div>
            </div>
            <div class="form-group">
                <label  class="col-xs-5 control-label">是否自营店:</label>
                <div class="col-xs-5">
                    <input type="radio" value="1" <if condition="$shopInfo['is_ourselves'] eq 1">checked="checked"</if> name="is_ourselves">是&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" value="0" <if condition="$shopInfo['is_ourselves'] eq 0">checked="checked"</if> name="is_ourselves">否
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-block btn-warning">修改</button>
                </div>
            </div>
        </form>
    </div>
</block>