<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <include file="Base/head"/>
    <title>{$meta_title}</title>
    <block name="link"></block>
</head>
<body>
    <!--加载动画-->
    <!--<div class="body-onload">-->
        <!--<p>-->
            <!--<img class="img-circle" src="__PUBLIC__/Home/images/onloading.gif"/>-->
            <!--<br/>-->
            <!--加载中..-->
        <!--</p>-->
    <!--</div>-->
    <block name="body"></block>
    <div id="musicBox"><audio id="bgMusic" src="/Public/Home/res/news.mp3"/></div>
</body>
    <script type="text/javascript" src="__PUBLIC__/Home/js/common/common.js"></script>
    <block name="script"></block>
</html>