<extend name="Base/base"/>
<block name="body">
    <div class="container">
        <div class="alert alert-warning alert-dismissible text-left" style="margin-top: 10px" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <strong class="text-center">消费者常见问题解答<br/>
                1.买东西后如何付款<br/>
                答：因平台还在不断完善，所以，目前只能够货到付款。点击“货到付款”即可生成订单。<br/><br/>
                2.如何确定商家已确定接单<br/>
                答：在订单页面，或者在个人中心的订单页面，都可以查看。如果数据不太对，刷新一下。如果有特殊问题，可以直接询问客服喔。<br/><br/>
                3.配送时间是多久<br/>
                答：分为两种情况，自营店类需要30分钟即可陪送到寝；宿舍小铺10分钟配送到寝。</strong>
        </div>
        <div class="alert alert-warning alert-dismissible text-left" style="margin-top: 10px" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <strong class="text-center">客服电话：<br/>
                ①小白  15775960256<br/>
                ②小王  15775960136
            </strong>
        </div>
    </div>
</block>