.manage-today{

}
.manage-today .today-head{
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
}
.manage-today .table th,tr{
    text-align: center;
}
.manage-today .modal-body .today-body .group-head,.group-mai,.group-courier,.group-goods{
    font-size: 14px;
    padding: 5px 0;
    border-bottom: 1px solid rgba(128,128,128,0.3);
}
.manage-today .modal-body .today-body .group-head{
    padding-top: 0;
}
.manage-today .modal-body .today-body .group-mai,.group-courier{
    font-size: 10px;
}
.manage-today .modal-body .today-body .group-mai b,.group-courier b{
    font-size: 14px;
}
.manage-today .modal-body .today-body .group-goods .count{
    padding-top: 5px;
    font-size: 14px;
    font-weight: 600;
}
.manage-today .modal-body .today-body .group-goods .count .all-money{
    color: red;
}